.qeydiyyat{
   
    text-align: center;
    width: 15%;
    height: 25vh;
    border: 1px solid black;
}

.btn{
    display: flex;
    gap: 10px;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
}

.inpt{
    margin-top: 10px    ;
}

input{
    margin-top: 5px;
   color
}

.ss{
    display: none;
}

.Cedvel{
    text-align: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    width: 35%;
    height: 70vh;
    margin: 0% auto;
}
table{
    display: flex;
    justify-content: center;
    text-align: center;
}


.ust{
    margin-left: 5px;
   margin-right: 45px;
}

.b{
    display: flex;
}